/* Add any global styles or overrides */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    background-color: #FDF2E9;
}

.from-primary {
    --tw-gradient-from: #FDF2E9;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(253, 242, 233, 0));
}

.via-primary {
    --tw-gradient-via: #FDF2E9;
}

.to-secondary {
    --tw-gradient-to: #EDE4DC;
}